<p id="notice"><%= notice %></p>


<% begin %>
  <!-- Create instance and store the information ticker of current stock using StockQuote  -->
  <% @stock_quote = StockQuote::Stock.quote(@stock.ticker) %>
<% rescue StandardError %>
  <!-- If the ticker of current stock is invalid, it will output this -->
  <% @strError = "Error Invalid Ticker" %>
  <%= raw @strError %>
<% end %>


<!--<p>-->
<!--  <strong>Ticker:</strong>-->
<!--  <%= @stock.ticker %>-->
<!--</p>-->


<strong>Company Name: </strong><%= @stock_quote.company_name %> - <%= @stock_quote.symbol %><br/>
<strong>Primary Exchange: </strong><%= @stock_quote.primary_exchange %><br/>
<strong>Calculation Price: </strong><%= @stock_quote.calculation_price %><br/>
<strong>PE Ratio: </strong><%= @stock_quote.pe_ratio %><br/>
<strong>Market Cap: </strong><%= @stock_quote.market_cap %><br/>
<strong>Stock Open: </strong><%= @stock_quote.open %><br/>
<strong>Day's Range: </strong><%= @stock_quote.low %> - <%= @stock_quote.high %><br/>
<strong>Year High: </strong><%= @stock_quote.week52_high %><br/>
<strong>Year Low: </strong><%= @stock_quote.week52_low %><br/>


<!--<p>-->
<!--  <strong>User:</strong>-->
<!--  <%= @stock.user_id %>-->
<!--</p>-->

<br/><br/>

<%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-default" %>
<%= link_to 'Destroy', stock_path(@stock), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
<%= link_to 'Back', stocks_path, class: "btn btn-default" %>

<!--<%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-default" %> |-->
<!--<%= link_to 'Back', stocks_path, class: "btn btn-default" %>-->
