<h1>Stocker Homepage</h1>
<br/><br/>

<%= form_tag root_path, :method => 'POST' do %>
  <div class="form-group">
      <%= label_tag "Search for:" %>
      <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50 %>
      <%= submit_tag 'Lookup Stock Quote' %>
  </div>
<% end %>

<br/><br/>

<% if @stock %>
  <%= @stock.company_name %>
  <br/><br/>
  <%= @stock.inspect %>
<% elsif @nothing %>
  <%= @nothing %>
<% end %>
