<strong><h1>Stocker Homepage</h1></strong>
<br/><br/>

<%= form_tag root_path, :method => 'POST' do %>
  <div class="form-group">
      <%= label_tag "Search for:" %>
      <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50 %>
      <%= submit_tag 'Lookup Stock Quote' %>
  </div>
<% end %>

<br/><br/>

<% if @stock %>
  <%#= @stock.inspect %>
  <br/><br/>
  <strong>Company Name: </strong><%= @stock.company_name %> - <%= @stock.symbol %><br/>
  <strong>Primary Exchange: </strong><%= @stock.primary_exchange %><br/>
  <strong>Calculation Price: </strong><%= @stock.calculation_price %><br/>
  <strong>PE Ratio: </strong><%= @stock.pe_ratio %><br/>
  <strong>Market Cap: </strong><%= @stock.market_cap %><br/>
  <strong>Stock Open: </strong><%= @stock.open %><br/>
  <strong>Day's Range: </strong><%= @stock.low %> - <%= @stock.high %><br/>
  <strong>Year High: </strong><%= @stock.week52_high %><br/>
  <strong>Year Low: </strong><%= @stock.week52_low %><br/>
<% elsif @nothing %>
  <%= @nothing %>
<% end %>

<% if @error %>
  <%= @error %>
<% end %>
