<h1>Stocker Homepage</h1>
<br/><br/>

<%= form_tag root_path, :method => 'POST' do %>
  <div class="form-group">
      <%= label_tag "Search for:" %>
      <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50, class: 'form-control' %>
      <%= submit_tag 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>

<br/><br/>

<% stock = StockQuote::Stock.quote("fb") %>
<%= stock.inspect %>

<br/>
<br/>
<%= stock.company_name %>
